footer.footer#contacts
  .container 
    .footer__logo
      img.logo.footer__img(src=require("../../../images/logo_oliveira.svg"), alt="logo")
    .footer__title.sectionTitle Contactos
    .footer__row
      .footer__item
        img(src=require("../../../images/icons/whatsapp.svg"), alt="whatsapp")
        p +52 (878) 1328959
      .footer__item
        img(src=require("../../../images/icons/email.svg"), alt="email")
        p margarita8517@outlook.com
      a.footer__item(href= "https://www.instagram.com/") 
        img(src=require("../../../images/icons/instagram.svg"), alt="instagram")
        p Instagram
      a.footer__item(href="https://facebook.com") 
        img(src=require("../../../images/icons/facebook.svg"), alt="facebook")
        p Facebook

  