.telhado 
  .container 
    .telhado__title.sectionTitle Obras realizadas 
    .telhado__subtitle.sectionTitle Recuperação da Fachada
    .telhado__box 
      .telhado__row
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/fachadas/1.jpg"), alt="Photo1") 
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/fachadas/3.jpg"), alt="Photo3")
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/fachadas/2.jpg"), alt="Photo2")
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/fachadas/4.jpg"), alt="Photo4")
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/fachadas/5.jpg"), alt="Photo5")
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/fachadas/6.jpg"), alt="Photo6")
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/fachadas/7.jpg"), alt="Photo7")