.telhado 
  .container 
    .telhado__title.sectionTitle Obras realizadas 
    .telhado__subtitle.sectionTitle Instalação Spa e Hidromassagens
    .telhado__box 
      .telhado__row
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/banheiros/1.jpg"), alt="Photo1") 
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/banheiros/2.jpg"), alt="Photo2")
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/banheiros/3.jpg"), alt="Photo3")
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/banheiros/4.jpg"), alt="Photo4")
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/banheiros/5.jpg"), alt="Photo5")
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/banheiros/6.jpg"), alt="Photo6")
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/banheiros/7.jpg"), alt="Photo7")
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/banheiros/8.jpg"), alt="Photo8")