.telhado 
  .container 
    .telhado__title.sectionTitle Obras realizadas 
    .telhado__subtitle.sectionTitle Telhados
    .telhado__box 
      .telhado__row
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/telhados/1.jpg"), alt="Photo1") 
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/telhados/2.jpg"), alt="Photo2")
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/telhados/3.jpg"), alt="Photo3")
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/telhados/4.jpg"), alt="Photo4")
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/telhados/5.jpg"), alt="Photo5")
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/telhados/6.jpg"), alt="Photo6")